---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1sua37d/tinder_takes_action_against_ai_profiles_by_making/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-25T08:21:45.394136'
original_url: https://www.reddit.com/r/worldnews/comments/1sua37d/tinder_takes_action_against_ai_profiles_by_making/
author: PrithvinathReddy
---

