---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1svt7e2/botswana_repeals_unenforceable_gay_sex_ban/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-27T06:00:25.675193'
original_url: https://www.reddit.com/r/worldnews/comments/1svt7e2/botswana_repeals_unenforceable_gay_sex_ban/
author: After-Professional-8
---

