---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1th3a5q/greenlanders_are_not_experimental_subjects_says/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-20T06:00:27.774789'
original_url: https://www.reddit.com/r/worldnews/comments/1th3a5q/greenlanders_are_not_experimental_subjects_says/
author: Street_Anon
---

