---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1szl706/iran_currency_plunges_as_dollar_crosses_18/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-01T03:52:33.215218'
original_url: https://www.reddit.com/r/worldnews/comments/1szl706/iran_currency_plunges_as_dollar_crosses_18/
author: Christian-Rep-Perisa
---

