---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1sytmvc/most_swiss_back_initiative_to_cap_population_at/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-30T12:31:20.387613'
original_url: https://www.reddit.com/r/worldnews/comments/1sytmvc/most_swiss_back_initiative_to_cap_population_at/
author: yahoonews
---

