---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1tjgozx/trump_says_he_will_speak_with_taiwan_president_a/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-22T06:00:31.452030'
original_url: https://www.reddit.com/r/worldnews/comments/1tjgozx/trump_says_he_will_speak_with_taiwan_president_a/
author: Darshan_brahmbhatt
---

