---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1suqy03/trump_offering_canadian_aluminum_and_steel/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-26T06:00:29.395216'
original_url: https://www.reddit.com/r/worldnews/comments/1suqy03/trump_offering_canadian_aluminum_and_steel/
author: -Yazilliclick-
---

