---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1te4z7j/point_of_no_return_36_countries_join_special/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-16T06:00:29.202971'
original_url: https://www.reddit.com/r/worldnews/comments/1te4z7j/point_of_no_return_36_countries_join_special/
author: Zhukov-74
---

