---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1t1bl7h/hegseth_orders_5000_us_troops_to_withdraw_from/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-03T06:00:30.402959'
original_url: https://www.reddit.com/r/worldnews/comments/1t1bl7h/hegseth_orders_5000_us_troops_to_withdraw_from/
author: Free-Minimum-5844
---

