---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1t77h7m/we_dont_recommend_zelensky_warns_foreign/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-09T07:54:10.550709'
original_url: https://www.reddit.com/r/worldnews/comments/1t77h7m/we_dont_recommend_zelensky_warns_foreign/
author: Playful_Leg7143
---

