---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1t4o3yr/middle_east_ceasefire_shattered_as_iran_strikes/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-06T11:30:07.574286'
original_url: https://www.reddit.com/r/worldnews/comments/1t4o3yr/middle_east_ceasefire_shattered_as_iran_strikes/
author: theindependentonline
---

