---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1sxtl3r/kim_jong_un_confirms_soldier_selfblasting_policy/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-29T06:00:35.308805'
original_url: https://www.reddit.com/r/worldnews/comments/1sxtl3r/kim_jong_un_confirms_soldier_selfblasting_policy/
author: bloomberg
---

