---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1sm7bdx/new_world_screwworm_detected_about_90_miles_from/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-16T06:00:29.129533'
original_url: https://www.reddit.com/r/worldnews/comments/1sm7bdx/new_world_screwworm_detected_about_90_miles_from/
author: Not_so_ghetto
---
