---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1t3c23e/drone_attack_targets_moscow_building_just_miles/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-05T00:51:29.876208'
original_url: https://www.reddit.com/r/worldnews/comments/1t3c23e/drone_attack_targets_moscow_building_just_miles/
author: UNITED24Media
---

