---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1tcsggl/russia_bombards_ukraine_with_1600_drones_and/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-15T06:00:25.612056'
original_url: https://www.reddit.com/r/worldnews/comments/1tcsggl/russia_bombards_ukraine_with_1600_drones_and/
author: UNITED24Media
---

