---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1shcgym/new_zealand_comfort_women_statue_could_jeopardise/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-11T06:00:24.998467'
original_url: https://www.reddit.com/r/worldnews/comments/1shcgym/new_zealand_comfort_women_statue_could_jeopardise/
author: Gyro_Armadillo
---

