---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1soe4n7/trump_tells_useless_nato_to_stay_away_after_uk/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-19T06:00:24.189945'
original_url: https://www.reddit.com/r/worldnews/comments/1soe4n7/trump_tells_useless_nato_to_stay_away_after_uk/
author: T_Shurt
---

