---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1tomdml/us_plans_tariffs_on_usmca_countries_has_issues/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-28T06:03:30.227269'
original_url: https://www.reddit.com/r/worldnews/comments/1tomdml/us_plans_tariffs_on_usmca_countries_has_issues/
author: joe4942
---

