---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1ssznq3/us_restricts_intelligence_sharing_with_south/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-24T06:00:41.232845'
original_url: https://www.reddit.com/r/worldnews/comments/1ssznq3/us_restricts_intelligence_sharing_with_south/
author: Neradtisiv
---

