---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1to3o0j/netherlands_blocks_us_takeover_of_digid_operator/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-27T13:38:56.063521'
original_url: https://www.reddit.com/r/worldnews/comments/1to3o0j/netherlands_blocks_us_takeover_of_digid_operator/
author: Geo_NL
---

