---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1skrtew/russia_suffers_record_soldier_casualties_as/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-04-15T06:00:22.031284'
original_url: https://www.reddit.com/r/worldnews/comments/1skrtew/russia_suffers_record_soldier_casualties_as/
author: the-es
---
