---
title: Reddit - Please wait for verification
url: https://www.reddit.com/r/worldnews/comments/1t6hy1s/us_intelligence_says_iran_can_outlast_trumps/
site_name: reddit
content_file: reddit-reddit-please-wait-for-verification
fetched_at: '2026-05-08T08:12:28.134093'
original_url: https://www.reddit.com/r/worldnews/comments/1t6hy1s/us_intelligence_says_iran_can_outlast_trumps/
author: No_Idea_Guy
---

